<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://capstone.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-011.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Capstone</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Capstone</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Lab7DBEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qfndifiu9o.database.windows.net,1433;Initial Catalog=Capstone_db;User ID=parth@qfndifiu9o;Password=cmiuc$AZURE" Name="Data Source=tcp:qfndifiu9o.database.windows.net,1433;Initial Catalog=Capstone_db;User Id=parth@qfndifiu9o;Password=cmiuc$AZURE" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Lab7.Models.Lab7DBEntities1, Lab7" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:qfndifiu9o.database.windows.net,1433;Initial Catalog=Capstone_db;User ID=parth@qfndifiu9o;Password=cmiuc$AZURE" Name="Data Source=tcp:qfndifiu9o.database.windows.net,1433;Initial Catalog=Capstone_db;User Id=parth@qfndifiu9o;Password=cmiuc$AZURE" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Lab7.Models.ApplicationDbContext, Lab7" MigrationConfiguration="Lab7.Migrations.Configuration, Lab7" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qfndifiu9o.database.windows.net,1433;Initial Catalog=Capstone_db;User Id=parth@qfndifiu9o;Password=cmiuc$AZURE</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Lab7DBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TrailMix.csdl|res://*/Models.TrailMix.ssdl|res://*/Models.TrailMix.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:qfndifiu9o.database.windows.net,1433;Initial Catalog=Capstone_db;User Id=parth@qfndifiu9o;Password=cmiuc$AZURE"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>