@{
    ViewBag.Title = "Home Page";
}

<div >
    <br>
     <br>
    <br>
    @*<p><a href="http://walkandrollpeel.ca/" class="btn btn-primary btn-large">Learn more about TrailMix &raquo;</a></p>*@
</div>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="col-md-9">
        <p class="lead"> Welcome to the admin portal of TrailMix </p>
        <img src="~/Content/Images/fc-2.jpg" class="img-rounded img-responsive"  width="800" height="300">
        <br>
        <br>
        
        <p>
            Welcome admin! Here on your dashboard you can create new reports or view previously generated reports
            through the above menu.Through that menubar you can also update your profile information. If you need any kind of support with this website, please submit your request through Request Support option.
        </p>
    </div>
}
else
{
    @*<img src="~/Content/Images/fc-4.jpg" class="img-rounded img-responsive" width="960" height="300">*@
       <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">Welcome to the admin panel of TrailMix</p>
        <p><input id="loginLink" type="button" class="btn btn-lg btn-success" value="Login to continue" title="Login to continue" style="background-color:black; color:white" onclick="location.href='@Url.Action("Login", "Account")'"></p>
      </div>
}


